@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

body{
  font-size: 20px;
  font-family: 'Work Sans', sans-serif;
  color: #333;
  font-weight: 300;
  text-align: center;
  background-color: #f8f6f0;
}
h1{
  font-weight: 300;
  margin: 0;
  padding: 10px;
  font-size: 20px;
  background-color: #444;
  color: #fff;
}

.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 30px auto;
}

.input {
  height: 2em;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.quiz-container{
  position: relative;
  margin-top: 40px;
  margin-bottom: 20px;
}

.quiz-wrap {
  display: none;
}

#quiz {
  position: relative;
  height: 250px;
}

.time {
  margin-bottom: 25px;
  height: 1em;
}

.sum {
  margin-bottom: 25px;
}

.question{
  font-size: 30px;
  margin-bottom: 10px;
}
.answers {
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
}
.answers label{
  display: block;
  margin-bottom: 10px;
}
button{
  font-family: 'Work Sans', sans-serif;
  font-size: 22px;
  background-color: #279;
  color: #fff;
  border: 0;
  border-radius: 3px;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}
button:hover{
  background-color: #38a;
}

.slide{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
.active-slide{
  opacity: 1;
  z-index: 2;
}

#results {
  margin: 25px auto;
}

#restart {
  display: none;
}

.error {
  border: 1px solid orangered;
}

.error-block {
  color: orangered;
}
