@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

body{
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
  font-size: 20px;
  font-family: 'Work Sans', sans-serif;
  color: rgba(0, 0, 0, 0.87);;
  font-weight: 300;
  text-align: center;
  background-color: #f8f6f0;
}

h1{
  font-weight: 300;
  margin: 0;
  padding: 10px;
  font-size: 20px;
  background-color: #444;
  color: #fff;
}

.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 30px auto;
}

.input {
  height: 2em;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.game-wrap {
  display: none;
  flex-direction: row;
  padding-top: 25px;
}

.winList {
  /*display: flex;*/
  flex-basis: 20%;
  margin: 0 auto;
  /*justify-content: center;*/
  /*align-items: center;*/
  /*padding-top: 25px;;*/
}

.win {
  border: 1px solid #279;
  border-radius: 20px;
  margin: 0 auto 10px;
  width: 150px;
}

.win.guaranteed {
  /*border: 1px solid rgb(255, 215, 0);*/
  background: rgb(255, 215, 0);
}

.win.checked {
  border: 2px solid #279;
  background-color: rgba(82,125,168,0.1);
}

.win.guaranteed.checked {
  background: rgb(255, 215, 0);
}

.quiz-container{
  min-height: 550px;
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
  justify-content: space-between;
  position: relative;
  padding: 0 5%;
  /*margin-top: 25px;*/
  margin-bottom: 20px;
}

.time {
  margin-bottom: 25px;
  height: 1em;
}

.sum {
  color: #841d29;
  font-weight: bold;
  margin-bottom: 25px;
}

.quiz {
  position: relative;
  /*min-height: 290px;*/
  /*margin-bottom: 20px;*/
  overflow: hidden;
}

.slide{
  /*position: absolute;*/
  /*left: 0;*/
  /*top: 0;*/
  display: none;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}

.active-slide{
  opacity: 1;
  z-index: 2;
  display: block;
}

.question{
  font-size: 30px;
  margin-bottom: 10px;
}

.answers {
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
}

.answers label {
  cursor: pointer;
}

.answers label{
  display: block;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  flex-direction: column;
}


button{
  font-family: 'Work Sans', sans-serif;
  font-size: 22px;
  background-color: #279;
  color: #fff;
  border: 0;
  border-radius: 3px;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 20px;
  /*max-width: 500px;*/
}

button:hover{
  background-color: #38a;
}

.results {
  margin: 25px auto;
}

.restart {
  display: none;
}

.hints {
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
  align-items: center;
  padding: 20px;
}

.currentWin {
  color: #841d29;
  font-weight: bold;
  margin-bottom: 50px;
}

.label {
  display: none;
}

.hints button {
  width: 250px;
  border-radius: 40px;
}

.hints img {
  margin-top: 40px;
}

.error {
  border: 1px solid orangered;
}

.error-block {
  color: orangered;
}

.overlay {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: 30;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f8f6f0;
  max-width: 300px;
  width: 100%;
  height: 200px;
  max-height: 95%;
  z-index: 45;
  overflow: auto;
  padding: 20px;
}

.modal button {
  display: none;
  margin: 0 auto;
  width: 150px;
  padding: 15px;
  border-radius: 5px;
}

.modal-text {
  margin-bottom: 45px;
}

.modal-text h4 {
  color: #841d29;
  margin: 15px;
}

.active {
  display: block;
}


.container-phone {
  display: none;
  /*width: 100%;*/
  position: relative;
}

/*call phone*/
.call-phone {
  position: fixed;
  cursor: pointer;
  width: 200px;
  height: 200px;
  /*top: 20%;*/
  left: 20%;
}
.call-phone__circle {
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  margin: 0;
  position: absolute;
  background-color: transparent;
  border-radius: 100%;
  border: 2px solid rgba(82,125,168,0.4);
  animation: call-phone__circle-anim 1.2s infinite ease-in-out;
  transition: all 0.5s;
  vertical-align: baseline;
}

@keyframes call-phone__circle-anim{
  0%{transform:rotate(0deg) scale(0.5) skew(1deg);
    opacity:.1  }
  30%{transform:rotate(0deg) scale(0.7) skew(1deg);
    opacity:.5  }
  100%{transform:rotate(0deg) scale(1) skew(1deg);
    opacity:.1  }
}
.call-phone__circle-fill {
  background-color: rgba(82,125,168,1);
  opacity: 0.75;
  width: 100px;
  height: 100px;
  top: 50px;
  left: 50px;
  position: absolute;
  border-radius: 100%;
  opacity: 0.1;
  animation: call-phone__circle-fill-anim 2.3s infinite ease-in-out;
  transition: all 0.5s;
}

@keyframes call-phone__circle-fill-anim{
  0%{transform:rotate(0deg) scale(0.7) skew(1deg);
    opacity:.2  }
  50%{transform:rotate(0deg) scale(1) skew(1deg);
    opacity:.2  }
  100%{transform:rotate(0deg) scale(0.7) skew(1deg);opacity:.2  }
}
.call-phone__circle-img {
  position: relative;
  background-color: rgba(82,125,168,0.1);
  width: 60px;
  height: 60px;
  top: 65px;
  left: 65px;
  position: absolute;
  border: 5px solid #279;;
  border-radius: 50%;
  border-radius: 100%;
  opacity: 0.7;
  animation: call-phone__circle-img-anim 1s infinite ease-in-out;
}
@keyframes call-phone__circle-img-anim{
  0%{transform:rotate(0deg) scale(1) skew(1deg)  }
  10%{transform:rotate(-25deg) scale(1) skew(1deg)  }
  20%{transform:rotate(25deg) scale(1) skew(1deg)  }
  30%{transform:rotate(-25deg) scale(1) skew(1deg)  }
  40%{transform:rotate(25deg) scale(1) skew(1deg)  }
  100%,50%{transform:rotate(0deg) scale(1) skew(1deg)  }
}

.icon-phone {
  position: absolute;
  z-index: 30;
  font-size: 36px;
  color: #279;;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 0 5px 0;
}





.container-circles {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
}



.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle:before {
   content: "";
   width: 20px;
   height: 20px;
   border-radius: 50%;
   opacity: 0.7;
   animation: scale 2s infinite
   cubic-bezier(0, 0, 0.49, 1.02);
}

.circle-1 {
  background-color: #49b8e5;
}

.circle-1:before {
  background-color: #49b8e5;
  animation-delay: 200ms;
}

.circle-2 {
  background-color: #1e98d4;
}

.circle-2:before {
  background-color: #1e98d4;
  animation-delay: 400ms;
}

.circle-3 {
  background-color: #2a92d0;
}

.circle-3:before {
  background-color: #2a92d0;
  animation-delay: 600ms;
}

.circle-4 {
  background-color: #3a88c8;
}

.circle-4:before {
  background-color: #3a88c8;
  animation-delay: 800ms;
}

.circle-5 {
  background-color: #507cbe;
}

.circle-5:before {
  background-color: #507cbe;
  animation-delay: 1000ms;
}


@keyframes scale {
  0% {
    transform: scale(1);
  }
  50%, 75% {
    transform: scale(2.5);
  }
  78%, 100% {
    opacity: 0;
  }
}

@media (max-width: 1050px) {
  .quiz-container {
    padding: 0 20px;
  }

  .question {
    font-size: 26px;
  }

  .hints button {
    width: 210px;
  }

  button {
    font-size: 20px;
  }
}

@media (max-width: 900px) {
  .winList {
    position: absolute;
    width: 180px;
    left: -180px;
    padding-top: 10px;
    background: #f8f6f0;;
    transition: left, 0.5s cubic-bezier(0, 0, 1, 1);
    z-index: 5;
    border: 1px solid #279;
    border-radius: 10px;
    box-sizing: border-box;
  }

  /*.winList:hover {*/
  /*  left: 0;*/
  /*}*/

  .label {
    display: block;
    position: absolute;
    left: 0;
    top: 110px;
    background: #279;
    width: 35px;
    height: 40px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 1.5em;
    color: #fff;
    border-radius: 0 5px 5px 0;
    z-index: 5;
    transition: left, 0.5s cubic-bezier(0, 0, 1, 1);
    cursor: pointer;
  }

  .quiz-container {
    flex-basis: 70%;
  }

  .question {
    padding-left: 20px;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 18px;
  }

  .quiz-container {
    padding: 0 10px 0 20px;
    min-height: 510px;
  }

  .sum {
    margin-bottom: 20px;
  }

  .question {
    font-size: 22px;
  }

  .answers {
    margin: 10px auto;
  }

  button {
    font-size: 18px;
    padding: 15px 10px;
  }

  .hints button {
    width: 180px;
  }
}

@media (max-width: 530px) {
  .game-wrap {
    flex-direction: column;
  }



  .currentWinText {
    display: none;
  }

  .currentWinNum {
    display:inline-block;
    position: absolute;
    top: 60px;
    width: auto;
    background: #279;
    min-width: 90px;
    height: 40px;
    border-radius: 0 5px 5px 0;
    padding: 9px;
    color: #fff;
    box-sizing: border-box;
    left: 0;
  }

  .quiz-container {
    padding: 0 20px;
  }

  .quiz {
    padding-left: 10px;
  }

  .label {
    top: 205px
  }

  .hints {
    flex-direction: row;
    justify-content: space-between;
  }

  .hints img {
    display: none;
  }

  .hints button {
    min-width: 95px;
    margin-right: 10px;
  }

  .hints button:last-of-type {
    margin-right: 0;
  }

  .call span {
    display: none;
  }

  .audience span {
    display: none;
  }
}

@media (max-width: 365px) {
  .currentWinNum {
    top: 85px
  }

  .quiz-container {
    padding: 0 10px;
  }

  .hints {
    padding: 10px;
  }

  /*.label {*/
  /*  top: 205px*/
  /*}*/
}



